html {
  scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

/* Top Navigation Bar */
.topnav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #164d56;
	overflow: hidden;
	height: 70px;
	text-align: center;
	font-family: Megrim, cursive;
}

.topnav a {
	float: center;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 15px 30px;
	line-height: 68px;
	font-size: 20px;
}

.topnav a:hover {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
	padding-bottom: 7px;
}

.topnav a.active {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
	padding-bottom: 7px;
}

.topnav a.active:hover {
	color: #fff;
}

/* Logo */
.logo {
	width: 20%;
	height: 20%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 110px;
}

/* Headings */
h1 {
	font-size: 70px;
	font-family: 'Megrim', cursive;
	color: #17616b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 0;
	text-align: center;
}

h4 {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: #00b6cb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-size: 55px;
	font-family: Megrim, cursive;
	border-bottom: solid;
	border-bottom-width: 2px;
	padding-bottom: 2px;
	text-align: center;
}

h3 {
	font-size: 35px;
	text-align: center;
	font-family: 'Megrim', cursive;
	margin-bottom: 0;
}

p {
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	line-height: 35px;
}

/* Misc. */
.what {
	margin-top: 75px;
}

.hProject {
	margin-bottom: 50px;
}

/* Sections */
.home {
	overflow: hidden;
	padding-bottom: 60px;
	background-image: linear-gradient(to right, #c2dbf4, #fff, #fff, #fff, #c2dbf4);
}

.about {
	overflow: hidden;
	display: inline-block;
	background-color: #12a3b4;
	color: #fff; 
	width: 100%;
	padding-bottom: 60px;
}

.projects {
	overflow: hidden;
	display: inline-block;
	color: #164d56;
	width: 100%;
	padding-bottom: 100px;
}

.project1 {
	overflow: hidden;
	display: block;
	width: 500px;
	float: left;
	margin-left: 100px;
	border-style: solid;
	border-radius: 10px;
	border-width: 0;
}

.project1:hover {
	width: 485px;
	border-style: inset;
	border-width: 8px;
	border-color: #00b6cb;
	border-radius: 25px;
}

.project2 {
	overflow: hidden;
	display: block;
	width: 525px;
	float: left;
	margin-left: 50px;
	border-style: solid;
	border-radius: 10px;
	border-width: 0;
}

.project2:hover {
	width: 515px;
	border-style: inset;
	border-width: 8px;
	border-color: #00b6cb;
	border-radius: 25px;
}

.contact {
	overflow: hidden;
	display: inline-block;
	background-color: #164d56;
	color: #fff; 
	width: 100%;
	padding-bottom: 60px;
}