html {
  scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

.about_body {
	background-image: linear-gradient(to right, #c2dbf4, #fff, #fff, #fff, #c2dbf4);
}

div {
	word-wrap: break-word;
}

/* Top Navigation Bar */
.topnav {
	position: fixed; 
	top: 0;
	right: 0;
	left: 0;
	background-color: #164d56;
	overflow: hidden;
	height: 3.5em;
	text-align: center;
	font-family: Megrim, cursive;
	z-index: 1;
}

.topnav a {
	float: center;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: .4em 1.5em;
	line-height: 3.45em;
	font-size: 1em;
}

.topnav a:hover {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: .08em;
	padding-bottom: .31em;
}

.topnav a.active {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: .08em;
	padding-bottom: .31em;
}

.topnav a.active:hover {
	color: #fff;
}

/* Logo */
.logo {
	width: 20%;
	height: 20%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5.6em;
}

.logo2 {
	width: 20%;
	height: 20%;
	margin-left: 38%;
	border-style: solid;
	border-color: #12a3b4;
	border-width: .5em;
	border-radius: 100%;
}

.logo2:hover {
	border-color: #e3bc13;
}

/* Headings */
h1 {
	font-size: 3.5em;
	font-family: 'Megrim', cursive;
	color: #17616b;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25em;
	margin-bottom: 0;
	text-align: center;
	z-index: 1;
}

h4 {
	font-size: .9em;
	font-family: 'Poppins', sans-serif;
	color: #00b6cb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-size: 2.8em;
	font-family: Megrim, cursive;
	border-bottom: solid;
	border-bottom-width: .04em;
	padding-bottom: .04em;
	text-align: center;
	z-index: 1;
}

h3 {
	font-size: 1.8em;
	text-align: center;
	font-family: 'Megrim', cursive;
	margin-bottom: 0;
}

p {
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-left: 13.1em;
	padding-right: 13.1em;
	line-height: 1.7em;
	color: #17616b;
	overflow-wrap: normal;
}

small {
	line-height: 1.7em;
	font-family: 'Poppins', sans-serif;
}

ol {
	list-style-position: outside;
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	line-height: .3em;
	color: #17616b;
	overflow-wrap: normal;
	margin-left: 20%;
	margin-right: 20%;
}

li {
	padding-bottom: 1.4em;
}

/* Misc. */
.what {
	margin-top: 2.2em;
}

.hProject {
	margin-bottom: 1.2em;
}

/* Sections */
.home {
	overflow: hidden;
	padding-bottom: 2.5em;
	background-image: linear-gradient(to right, #c2dbf4, #fff, #fff, #fff, #c2dbf4);
}

.about {
	overflow: hidden;
	display: inline-block;
	background-color: #00b6cb;
	color: #fff; 
	width: 100%;
	padding-bottom: 2.8em;
}

.s1 {
	display: block;
	overflow: hidden;
	float: left;
	margin-left: 27%;
	text-align: center;
}

.s2 {
	display: block;
	overflow: hidden;
	float:left;
	margin-left: 7em;
	text-align: center;
}

.s3 {
	display: block;
	overflow: hidden;
	float: left;
	margin-left: 7em;
	text-align: center;
}

.projects {
	overflow: hidden;
	display: inline-block;
	color: #164d56;
	width: 100%;
	padding-bottom: 4em;
}

.projects_list {
	overflow: hidden;
	display: inline-block;
	color: #164d56;
	width: 100%;
	padding-bottom: 5.5em;
}

.project1 {
	overflow: hidden;
	display: block;
	width: 500px;
	float: left;
	margin-left: 5em;
	border-style: solid;
	border-radius: 10px;
	border-width: 0;
	margin-bottom: 3%;
}

.project1:hover {
	width: 485px;
	border-style: inset;
	border-width: 8px;
	border-color: #00b6cb;
	border-radius: 25px;
}

.personal {
	padding-top: 5%;
	color: #fff;
	padding-bottom: 1%;
	background: #00b6cb;
}

.website_img {
	display: inline-block;
	width: 40%;
	float: left;
	margin-left: 10%;
	padding-bottom: 4%;
}

.straightup_img {
	display: inline-block;
	width: 25%;
	float: left;
	margin-left: 12%;
}

.appdiv {
	padding-left: 10%;
}

.appdemo {
	height: 500px;
	float: left;
	padding-bottom: 4%;
}

.appcomments {
	text-align: left;
	margin-left: 3%;
}

.website_about {
	display: inline-block;
	float: left;
	text-align: left;
	margin-left: 5%;
	color: #17616b;
	padding: 0;
	margin-top: 0;
	padding-bottom: 4%;
}

.comments {
	margin: 5%;
	margin-top: 0;
	text-align: center;
	float: left;
}

.straightup_comments {
	margin: 0;
	margin-top: 0;
	text-align: center;
	float: left;
	margin-bottom: 5%
}

.link {
	color: #12a3b4;
}

.project2 {
	overflow: hidden;
	display: block;
	width: 525px;
	float: left;
	margin-left: 50px;
	border-style: solid;
	border-radius: 10px;
	border-width: 0;
	margin-bottom: 3%;
}

.project2:hover {
	width: 515px;
	border-style: inset;
	border-width: 8px;
	border-color: #00b6cb;
	border-radius: 25px;
}

.contact {
	overflow: hidden;
	display: inline-block;
	background-color: #13393e;
	color: #fff; 
	width: 100%;
	padding-bottom: 60px;
}

.moreabout {
	color: #fff;
	display: block;
	width: 18%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12%;
	text-align: center;
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
}

.moreabout:hover {
	color: #fed500;
	font-size: 1.15em;
	width: 19%;
}

.me {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 25%;
	border-style: solid;
	border-color: #188291;
	border-width: 10px;
	border-radius: 100%;
}

.about_summary {
	float: center;
	text-align: center;
	color: #17616b;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 4%;
}