body {
	padding: 0;
	margin: 0;
}

/* Top Navigation Bar */
.topnav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #164d56;
	overflow: hidden;
	height: 70px;
	text-align: center;
	font-family: Megrim, cursive;
}

.topnav a {
	float: center;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 15px 30px;
	line-height: 65px;
	font-size: 20px;
}

.topnav a:hover {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
	padding-bottom: 7px;
}

.topnav a.active {
	color: #a0e3f0;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
	padding-bottom: 7px;
}

.topnav a.active:hover {
	color: #fff;
}

/* Logo */
.logo {
	width: 20%;
	height: 20%;
	display: block;
	float: left;
	margin-left: 250px;
	margin-top: 125px;
}

/* Headings */
h1 {
	float: right;
	font-size: 70px;
	font-family: 'Megrim', cursive;
	color: #17616b;
	margin-right: 340px;
	margin-top: 200px;
	margin-bottom: 0;
}

h4 {
	float: right;
	font-size: 18px;
	font-family: Arial;
	color: #00b6cb;
	margin-right: 440px;
	margin-top: 0;
}

h3 {
	font-size: 45px;
	font-family: Megrim, cursive;
	border-bottom: solid;
	border-bottom-width: 2px;
	text-align: center;

}

p {
	font-size: 20px;
	font-family: Arial;
	text-align: center;
}

/* Sections */
.home {
	overflow: auto;
}

.about {
	display: inline-block;
	background-color: #12a3b4;
	color: #fff; 
	margin-top: 60px;
	width: 100%;
}